/* ----- LAYOUT WRAPPER ----- */
.app-wrapper {
    display: flex !important; 
    flex-direction: row !important;
    height: 100vh !important;
    transition: all 0.3s ease !important;
}

.layout-right {
    flex: 1 !important;
    display: flex !important;
    flex-direction: column !important;
    transition: all 0.3s ease !important;
}

.content {
    flex: 1 !important;
    padding: 16px !important;
    background-color: var(--background-color) !important;
    overflow-y: auto !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.card {
  width: calc(100% * 25 / 26) !important;
  height: calc(100% * 20 / 21) !important;
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-content: center !important;
  background-color: var(--foreground-color) !important;
  border-radius: 8px !important;
  box-shadow: var(--box-shadow) !important;
  padding: 25px !important;
  overflow-y: auto !important;

  /* Hide scrollbar (cross-browser) */
  scrollbar-width: none !important;           /* Firefox */
  -ms-overflow-style: none !important;        /* IE and Edge */
}

.card::-webkit-scrollbar {
  display: none !important;                   /* Chrome, Safari, Opera */
}


.card .title {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    font-size: 24px !important;
    font-weight: bold !important;
    margin-bottom:20px !important;
}

.card .elements {
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}

.card .entries {
    display: flex !important;
    gap: 15px !important;
    margin-bottom: 20px !important;
    flex-wrap: wrap !important;
}