/* layout.css */


.mainContainer{
  display: flex !important;
  flex-grow:2 !important;
  flex-direction: row !important; /* Stack children vertically */
  align-items: stretch !important;
  height: 100% !important; /* Full viewport height */
  width: 100% !important; /* Full viewport width */
  background-color: #fc0000 !important;
}
.container {
  height: 100% !important; /* Remaining space below the top bar */
  flex-grow: 2 !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #f4f4f4 !important;
  width: 100% !important; /* Ensure it fills the horizontal space */
}

.navBarContainer {
  position: 200 !important;
  flex-shrink: 0 !important;
  background-color: #fafafa !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: white !important;
  height: 100% !important; /* Ensure it fills the full height */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08) !important;
  width: calc(100% * 8 / 34) !important; 
}

.mainContent {
  flex-grow: 1 !important; /* Take the remaining width */
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important; /* Ensure it fills the full height */
}

.topBarContainer {
  height: calc(100vh * 3 / 21) !important;
  width: 100% !important;
  background-color: #FBFBFB !important;
  color: black !important;
  text-align: center !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important; /* Center the inner content horizontally */
  box-shadow:none !important;
}


.pageContainer {
  height: 100% !important; /* Remaining space below the top bar */
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #f4f4f4 !important;
  width: 100% !important; /* Ensure it fills the horizontal space */
}

.contentContainer {
  width: calc(100% * 24 / 26) !important;
  height: calc(100% * 18 / 21) !important;
  background-color: #FFFFFF !important;
  border: 2px solid rgba(21, 21, 27, 0.781) !important;
  display: flex !important;
  align-items: flex-start !important;
  justify-content: center !important;
  border-radius: 16px !important;
  position: relative !important;
  overflow-y: scroll !important; /* still scrollable */
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important;  /* Internet Explorer 10+ */
}

.modalOverlay::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, Edge */
}

.topBarContainer h1,
.contentContainer h1 {
  margin: 0 !important;
}